<h1>רשימת הבקשות</h1>

<ul>
<% @bakashas.each do |bakasha| %>
  <li>
    <label>תאריך קבלת הבקשה</label>
    <%= bakasha.recv_date %>
    <%= bakasha.reason %>
    <%= link_to 'נווט', bakasha %>
    <%= link_to 'ערוך', edit_bakasha_path(bakasha) %>
    <%= link_to 'מחק', bakasha, confirm: 'Are you sure?', method: :delete %>
  </li>
<% end %>
</ul>

<%= link_to 'בקשה חדשה', new_bakasha_path %>
