<h1><%=t :reshimat %></h1>

<ul>
<% @bakashas.each do |bakasha| %>
  <li>
    <label><%=t :date_received %></label>
    <%= bakasha.recv_date %>
    <%= bakasha.meeting_reason %>
    <%= link_to t(:goto), bakasha %>
    <%= link_to t(:edit), edit_bakasha_path(bakasha) %>
    <%= link_to t(:delete), bakasha, confirm: 'Are you sure?', method: :delete %>
  </li>
<% end %>
</ul>

<%= link_to t(:new_bakasha), new_bakasha_path %>
