<div class='form'>
    <div class='title-icon'></div>
    <h1 class='title'><%=t :if_you_came %>...</h1>
    <h2 class='subtitle'><%=t :it_would_be_nice %>:</h2>
    <div class='bakasha'>
        <h3><%=t :bakasha %></h3>
        <%= render 'form' %>
        <div id='add-pniya' class='add-pniya' title='<%=t :hosef %>'>+</div>
    </div>
</div>

<%= content_for :photo do %>
    <!--<img src="<%= @file %>"/>-->
    <iframe src="/docs/pdf/11-03-2011 Knesset.pdf"></iframe>
<% end %>