<% if notice %>
    <p class="notice">הבקשה נקלטה במערכת</p>
<% end %>

<p>
  <b>תאריך הקבלה:</b>
  <%= @bakasha.recv_date %>
</p>

<p>
  <b>סיבת הבקשה:</b>
  <%= @bakasha.meeting_reason %>
</p>

<% @bakasha.pniyas.each do |pniya| %>
<p>
  <b>מספר פנייה:</b>
  <%= pniya.mispar %>
</p>
<% end %>

<%= link_to 'ערוך', edit_bakasha_path(@bakasha) %> |
<%= link_to 'חזרה', bakashas_path %>
